#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
footer {
  /* border-radius: 8px 8px 0px 0px; */
  font-size: 0.7em;
  display: flex;
  text-align: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0px;
  width: 100%;
  background-color: #203040;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline;
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
}

footer ul li a:hover {
  color: #747bff;
  text-decoration: underline;
}
